*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

header {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
    align-items: center;
    color: #3D3B73;
    background: #FFF;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: #3D3B73;
    font-weight: bold;
    text-decoration: none;
}

main .alt {
    background: #EFF0F9;
}

main section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: justify;
}

main section .content {
    display: grid;
    gap: 5px;
}

main section .content p {
    margin-bottom: 20px;
    text-indent: 2em;
}


.charts {
    width: 400px;
    height: 300px;
}
